<!DOCTYPE html>
<html>
<head>
    <title>Simple Form</title>
</head>
<body>

    <h2>Student Form</h2>

    <form action="/form" method="post">
        
        <label for="name">Name:</label><br>
        <input type="text" id="name" name="name"><br><br>

        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email"><br><br>

        <label for="phone">Phone:</label><br>
        <input type="tel" id="phone" name="phone"><br><br>

        <label for="marks">Marks:</label><br>
        <input type="mar" id="marks" name="marks"><br><br>

        <input type="submit" value="Submit">

    </form>

</body>
</html>